<div class="container">
  <div class="image">
    <div class="bg-image">
      <img src="../../../assets/images/Bg2.2.png" alt="">
    </div>
    <div class="hurry-image">
        <img src="../../../assets/images/object 2.png" alt="">
    </div>
  </div>
    <div class="options">
      <h1>LOGIN</h1>
      <button (click)="movetologin()"><span><img src="../../../assets/images/icon _mail.png"></span><span  class="text">Continue With Email</span></button>
      <button><span><img src="../../../assets/images/icon _google.png"></span><span class="text">Continue With Google</span></button>
      <button><span><img src="../../../assets/images/icon _fb.png"></span><span class="text">Continue With Facebook</span></button>
      <button ><span><img src="../../../assets/images/icon _mobile.png"></span><span class="text">Login With Mobile Number</span></button>
      <p>By Continuing, You Agree To Our <a href="#">Terms of Service  </a>&<a href="#">  Privacy Policy</a> </p>
    </div>
</div>
