<div class="container">
  <div class="image">
    <div class="bg-image">
      <img src="../../../assets/images/Bg2.1.png" alt="">
    </div>
    <div class="hurry-image">
        <img src="../../../assets/images/object 1.png" alt="">
    </div>
    <div class="image-text">
      <h1>HURRY!!</h1>
      <h2>HUNGER DON'T WAIT</h2>
    </div>
  </div>
  <div class="options">
      <button  class="start" (click)="asUser()">GET STARTED <p>Avail best Offers & Discounts Only for you</p></button>
      <button (click)="withoutLogin()">Continue Without Login</button>
      <button  (click)="asVendor()">Continue As Vendor</button>
  </div>


</div>

